.header {
    background-color: #2E3A3B;
    padding-bottom: 2px;
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.logo img {
    max-width: 244px;
    width: 100%;
    height: auto;
}

.menu__item {
    position: relative;
    z-index: 1;
}

.menu__item::before {
    content: '';
    width: calc(100% + 30px);
    height: 65px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    display: block;
    position: absolute;
    z-index: -1;
}

.menu__item:not(:last-child) {
    margin-right: 39px;
}

.menu__link {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    -webkit-transition: color .4s ease;
    -o-transition: color .4s ease;
    transition: color .4s ease;
}

.menu__link:hover,
.menu__item:hover .menu__link {
    color: #EA730E;
}

.cart-link {
    width: 50px;
    height: 50px;
    min-width: 50px;
    border-radius: 50%;
    background-color: #EA730E;
}

.submenu {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(calc(100% + 71px));
        -ms-transform: translateX(-50%) translateY(calc(100% + 71px));
            transform: translateX(-50%) translateY(calc(100% + 71px));
    background-color: #2E3A3B;
    border-radius: 4px;
    -webkit-box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.6);
    padding: 11px 0;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    opacity: 0;
    visibility: hidden;
}

.menu__item:hover .submenu {
    -webkit-transform: translateX(-50%) translateY(calc(100% + 41px));
        -ms-transform: translateX(-50%) translateY(calc(100% + 41px));
            transform: translateX(-50%) translateY(calc(100% + 41px));
    opacity: 1;
    visibility: visible;
}

.submenu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.submenu__link {
    padding: 6px 26px 6px 20px;
    color: #fff;
    -webkit-transition: background-color 0.35s ease;
    -o-transition: background-color 0.35s ease;
    transition: background-color 0.35s ease;
    width: 100%;
}

.submenu__link:hover {
    background-color: #EA730E;
}

.cart-link::after {
    content: attr(data-count);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 0.875rem;
    line-height: 100%;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: -7px;
    background-color: #fff;
}

.header-contacts {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.offer {
    color: #fff;
}

.offer-section {
    padding: 22px 0 43px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.offer .breadcrumbs {
    margin-bottom: 22px;
}

.offer__title {
    font-size: 2.875rem;
    line-height: 1.304em;
    text-transform: uppercase;
    max-width: 748px;
    margin-bottom: 26px;
}

.offer__message {
    font-size: 1.5rem;
    line-height: 1.458em;
    max-width: 697px;
    margin-bottom: 45px;
}

.get-section {
    padding: 78px 0 110px;
    background-color: #EFEFEF;
}

.get__title {
    margin-bottom: 51px;
}

.get-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.get-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

.get-list__item-icon {
    width: 100%;
    max-width: 134px;
    margin-bottom: 7px;
}

.get-list__item-icon img {
    width: 100%;
    height: auto;
}

.get-list__item-title {
    font-size: 1.25rem;
    line-height: 1.4em;
    margin-bottom: 14px;
    max-width: 220px;
}

.get-list__item-message {
    max-width: 245px;
}

.install-section {
    padding: 69px 0 100px;
}

.install__title {
    margin-bottom: 52px;
}

.install-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 21px 1fr 21px 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 21px;
}

.form-section {
    padding: 78px 0 84px;
    background-color: #EA730E;
}

.form-title {
    max-width: 800px;
    margin: 0 auto 51px;
}

.form-wrapper {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto 43px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.form-wrapper .form-control:first-child,
.form-wrapper .form-control:nth-child(2) {
    width: 35.185%;
}

.form-wrapper .form-control:last-child {
    width: 25.74%;
}

.form-wrapper .form-control input {
    border-bottom-color: #000;
}

.form-wrapper .form-control input:focus,
.form-wrapper .form-control input:active {
    border-bottom-color: #000;
}

.form-wrapper .form-control .primary-btn {
    background-color: #000;
    color: #fff;
}

.form-tip {
    font-weight: 300;
}

.about-section {
    padding: 81px 0 40px;
}

.about-title {
    margin-bottom: 48px;
}

.about-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.about-video {
    width: 57.640067%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.about-video iframe {
    width: 100%;
    height: 390px;
}

.about-info {
    width: 40.40747%;
}

.work-permits-section {
    padding: 40px 0 80px;
}

.work-permits-title {
    margin-bottom: 60px;
}

.work-permits-wrapper {
    max-width: 1018px;
    margin: 0 auto;
    position: relative;
}

.work-permits-item {
    position: relative;
}

.work-permits-item::before {
    content: '';
    display: block;
    padding-bottom: 130.15075%;
    background-color: #ccc;
}

.work-permits-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.our-work-section {
    padding: 61px 0 65px;
}

.our-work-title {
    margin-bottom: 60px;
}

.our-work-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 22px 1fr 22px 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 59px 22px;
}

.itb-tile {
    width: 100%;
    min-height: 280px;
    padding: 15px 0;
    background-position: center;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
    border-radius: 4px;
    overflow: hidden;
}

.itb-tile::before {
    content: '';
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(46, 58, 59, 0.7)), to(rgba(46, 58, 59, 0.7)));
    background: -o-linear-gradient(bottom, rgba(46, 58, 59, 0.7), rgba(46, 58, 59, 0.7));
    background: linear-gradient(0deg, rgba(46, 58, 59, 0.7), rgba(46, 58, 59, 0.7));
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.itb-tile__content {
    padding: 0 25px;
}

.itb-tile__title {
    font-size: 1.25rem;
    line-height: 1.4em;
    margin-bottom: 15px;
}

.itb-tile__message {
    font-size: 1.125rem;
    line-height: 1.333em;
}

.itb-tile,
.itb-tile__title,
.itb-tile__message {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.itb-tile:hover .itb-tile__title {
    font-size: 2rem;
}

.itb-tile:hover .itb-tile__message {
    font-size: 1.5rem;
}

.itb-tile:hover .itb-tile__content {
    padding: 0 10px;
}

.review-section {
    padding: 62px 0 82px;
    background-color: #EFEFEF;
}

.review-title {
    margin-bottom: 60px;
}

.review-wrapper {
    position: relative;
    max-width: 1018px;
    margin: 0 auto 60px;
}

.review-btn-wrapper {
    max-width: 280px;
    margin: 0 auto;
}

.review-btn-wrapper>* {
    width: 100%;
}

.contacts-section {
    padding: 79px 0 96px;
    background-color: #2E3A3B;
}

.contacts-title {
    color: #EA730E;
    margin-bottom: 44px;
}

.contacts-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.contacts-map {
    width: 66.2139219%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.contacts-map img {
    width: 100%;
    height: auto;
}

.contacts-info {
    width: 30.3904923%;
}

.contacts-list:not(:last-child) {
    margin-bottom: 21px;
}

.contacts-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.contacts-group {
    width: 100%;
}

.contacts-list:not(:last-child) .contacts-row:last-child .contacts-group {
    padding-bottom: 12px;
    border-bottom: 2px solid #664B2E;
}

.contacts-row__icon {
    margin-right: 30px;
    width: 28px;
    min-width: 28px;
}

.contacts-list:nth-child(2) .contacts-row__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.contacts-row__icon img {}

.contacts-link,
.contacts-social-title {
    font-size: 1.25rem;
    line-height: 2em;
    color: #fff;
}

.contacts-main {
    margin-bottom: 34px;
}

.contacts-social-title {
    display: block;
    margin-bottom: 12px;
}

.social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.social-list__item:not(:last-child) {
    margin-right: 34px;
}

.social-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer {
    background-color: #000;
}

.footer .container {
    max-width: 1134px;
}

.footer .menu__item::before {
    display: none;
}

.column-form .form-control:not(:last-child) {
    margin-bottom: 30px;
}

.column-form .primary-btn {
    max-width: 381px;
    width: 100%;
    margin: 0 auto 30px;
    display: block;
}

.modal-tip {
    font-weight: 300;
    text-align: center;
    max-width: 438px;
    margin: 0 auto;
}

.itb-complex-section {
    padding: 70px 0 88px;
    background-color: #EFEFEF;
}

.itb-complex-title {
    color: #EA730E;
    margin-bottom: 52px;
}

.itb-complex-wrapper {
    max-width: 1182px;
    margin: 0 auto 77px;
    position: relative;
}

.itb-complex-wrapper .itb-card {
    height: auto;
    box-shadow: none;
}

.swiper-btn.itb-complex-button-next.swiper-button-disabled,
.swiper-btn.itb-complex-button-prev.swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
}

.swiper-arr-shadow {
    width: 27.85714vw;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.255);
    position: absolute;
    top: 0;
    z-index: 99999;
    opacity: 1;
    transition: opacity .4s ease;
}

.swiper-arr-shadow.swiper-arr-shadow-prev {
    left: 0;
    transform: translateX(-10vw);
    background: linear-gradient(90deg, #EFEFEF 50.42%, rgba(239, 239, 239, 0) 99.29%);
}

.swiper-arr-shadow.swiper-arr-shadow-next {
    right: 0;
    transform: translateX(10vw);
    background: linear-gradient(271.32deg, #EFEFEF 50.42%, rgba(239, 239, 239, 0) 99.29%);
}

.swiper-btn.itb-complex-button-next.swiper-button-disabled + .swiper-arr-shadow.swiper-arr-shadow-next {
    opacity: 0;
}

.swiper-btn.itb-complex-button-prev.swiper-button-disabled + .swiper-arr-shadow.swiper-arr-shadow-prev {
    opacity: 0;
}

.itb-complex-btn-wrapper {
    width: max-content;
    min-width: 280px;
    margin: 0 auto;
}

.itb-complex-btn-wrapper .primary-btn {
    width: 100%;
}

.request-section {
    padding: 79px 0 89px;
}

.request-wrapper {
    display: flex;
    justify-content: space-between;
}

.request-img {
    width: 66.2988115%;
    display: flex;
    border-radius: 4px;
    overflow: hidden;
}

.request-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.request-form {
    width: 32.258064%;
}

.request-form .form-control {
    margin-bottom: 23px;
}

.request-form .form-control:last-of-type {
    margin-bottom: 71px;
}

.request-form .primary-btn {
    width: 100%;
    max-width: 278px;
    display: block;
    margin: 0 auto 46px;
}

.request-tip {
    font-weight: 300;
}

.install-section_services {
    padding: 70px 0 74px;
    background-color: #EFEFEF;
}

.install-section_services .install-list {
    margin-bottom: 70px;
}

.services-link {
    display: flex;
    width: max-content;
    padding: 13px 28px 14px 31px;
    border: 1px solid #EA730E;
    border-radius: 100px;
    font-size: 1.25rem;
    line-height: 1.45em;
}

.swiper-wrapper .swiper-slide {
    width: max-content;
}

.services-button-next,
.services-button-prev {
    transform: translateY(-50%) translateX(0) !important;
}

.services-button-next.swiper-button-disabled,
.services-button-prev.swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
}

.swiper-button-disabled + .swiper-arr-shadow {
    opacity: 0;
}

.itb-complex-wrapper_s {
    margin-bottom: 0;
}

.shop-section {
    padding: 21px 0 76px;
    background-color: #EFEFEF;
}

.breadcrumbs.gray .breadcrumbs__item:last-child .breadcrumbs__link {
    color: #8E9495;
}

.shop-section .breadcrumbs {
    margin-bottom: 35px;
}

.shop-wrapper {
    display: flex;
    justify-content: space-between;
}

.filter-aside {
    width: 243px;
}

.shop-main {
    width: calc(100% - 243px - 57px);
}

.control {
    border-radius: 4px;
    background-color: #fff;
}

.control:not(:last-child) {
    margin-bottom: 27px;
}

.control.control_catalog {
    background-color: #2E3A3B;
}

.control__head {
    padding: 18px 20px 10px 20px;
    border-bottom: 1px solid #8C5625;
}

.control__title {
    font-size: 1.25rem;
    line-height: 1.45em;
    text-transform: uppercase;
    color: #EA730E;
}

.control__body {
    padding: 11px 20px 20px;
}

.ac {
    background-color: transparent;
    border: none;
    margin-top: 0;
}

.ac:not(:last-child) {
    margin-bottom: 6px;
}

.ac .ac-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 0;
}

.ac .ac-trigger svg {
    transition: transform .4s ease;
}

.ac .ac-trigger svg path {
    transition: stroke .4s ease;
}

.control.control_catalog .ac .ac-trigger svg path {
    stroke: #fff;
}

.control.control_filter .ac .ac-trigger svg path {
    stroke: #0C0C0C;
}

.control .ac .ac-trigger {
    font-family: 'Circe', sans-serif;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    transition: color .4s ease;
}

.control.control_catalog .ac .ac-trigger {
    color: #fff;
}

.control.control_filter .ac .ac-trigger {
    color: #0C0C0C;
}

.ac .ac-trigger::after {
    content: '' !important;
}

.ac.is-active>.ac-header .ac-trigger {
    color: #EA730E;
}

.ac.is-active>.ac-header .ac-trigger svg {
    transform: rotate(-180deg);
}

.ac.is-active>.ac-header .ac-trigger svg path {
    stroke: #EA730E;
}

.ac-panel .ac-link {
    display: flex;
    margin-left: 22px;
    transition: color .4s ease;
}

.control_catalog .ac-link {
    color: #fff;
}

.control_filter .ac-link {
    color: #0C0C0C;
}

.ac-panel .ac-link:hover,
.ac-panel .ac-link.active {
    color: #EA730E;
}

.ac-panel .ac-link:not(:last-of-type) {
    margin-bottom: 8px;
}

.ac-panel .checkmark {
    width: 18px;
    height: 18px;
    top: 2px;
    border: 1px solid #C4C4C4;
    background-color: transparent;
}

.ac-panel .checkbox {
    padding-left: 27px;
    margin-bottom: 0;
}

.ac-panel .checkbox-text {
    padding-top: 0;
    font-weight: 400;
}

.ac-panel .checkbox .checkmark:after {
    left: 5px;
    top: 1px;
    width: 6px;
    height: 11px;
    border-width: 0 2px 2px 0;
}

.ac-panel .checkbox:not(:last-of-type) {
    margin-bottom: 8px;
}

.ac-panel .checkbox input:checked~.checkmark {
    border-color: #EA730E;
}

.control .ac .ac-trigger:hover {
    color: #EA730E;
}

.control .ac .ac-trigger:hover svg path {
    stroke: #EA730E;
}

.reset-button {
    padding: 9px 14px 7px 15px;
    border: 1px solid #EA730E;
    border-radius: 4px;
    text-transform: uppercase;
    background: none;
    text-align: center;
    font-size: 0.75rem;
    line-height: 1.5em;
    color: #EA730E;
    font-weight: 700;
    display: block;
    margin: 20px auto 0; 
}

.shop-title {
    margin-bottom: 37px;
}

.shop-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 20px;
}

.shop-card {
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

.shop-card__img {
    display: flex;
    width: 100%;
    height: 170px;
}

.shop-card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.shop-card__info {
    padding: 16px 15px;
}

.shop-card__title {
    font-size: 1.25rem;
    line-height: 1.4em;
    margin-bottom: 12px;
}

.shop-card__message {

}

.shop-card__control {
    padding: 16px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shop-card__price {
    font-weight: 700;
    color: #EA730E;
}

.shop-card__btn {
    width: 51.74%;
    min-width: 115px;
    margin-left: 15px;
    padding: 13px 10px 12px;
    color: #EA730E;
    font-size: 0.75rem;
    line-height: 1.5em;
    border: 1px solid #EA730E;
    border-radius: 4px;
    background: none;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .4s ease;
}

.shop-card__btn.added {
    background-color: #EA730E;
    color: #fff;
}

.shop-card__price span[data-full-price]::before {
    content: attr(data-full-price);
    display: block;
    font-size: 0.875rem;
    line-height: 1.5em;
    text-decoration-line: line-through;
    color: #979797;
}

.card-tip-list {
    position: absolute;
    top: 8px;
    left: 8px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card-tip {
    padding: 0 13px;
    background-color: #2E3A3B;
    border-radius: 6px 0px;
    color: #fff;
    font-size: 1rem;
    line-height: 1.75em;
}

.card-tip:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 5px;
}

.card-tip.discount {
    background-color: #EA730E;
}

.card-tip.action {
    background-color: #FF3939;
}

.card-tip.new {
    background-color: #4BD50B;
}

.card-tip.hit {
    background-color: #EAD200;
}

.shop-show-more {
    width: 100%;
    max-width: 280px;
    margin: 74px auto 0;
}

.shop-show-more button {
    width: 100%;
}

.prices-section {
    padding: 21px 0 77px;
}

.prices-section .breadcrumbs {
    margin-bottom: 35px;
}

.prices-title {
    margin-bottom: 44px;
}

.works-section {
    padding: 20px 0 80px;
}

.works-section .breadcrumbs {
    margin-bottom: 35px;
}

.works-title {
    margin-bottom: 60px;
}