@media screen and (min-width: 1500px) {
    .table th, .table td {
        padding: 4px 4vw;
    }
}

@media screen and (max-width: 1366px) {
    .menu__item:not(:last-child) {
        margin-right: 20px;
    }

    .logo img {
        max-width: 200px;
    }

    .table th, .table td {
        padding: 4px 3.7142vw;
    }   
}

@media screen and (max-width: 1200px) {
    .logo img {
        max-width: 160px;
    }

    .menu__link,
    .header-contacts a {
        font-size: 0.875rem;
    }

    .cart-link {
        width: 40px;
        height: 40px;
        min-width: 40px;
    }

    .table th, .table td {
        font-size: 1rem;
        line-height: 2.5em;
    }

    .shop-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1023px) {
    .logo,
    .cart-link:not(.cart-link_m),
    .header-wrapper > nav,
    .footer nav {
        display: none;
    }

    .logo-mobile,
    .cart-link.cart-link_m {
        display: flex;
    }

    .humburger,
    .mobile-menu-wrapper,
    .footer .logo {
        display: block;
    }

    .header .header-contacts__link {
        color: #fff;
    }
    
    .offer__title {
        font-size: 2.2rem;
    }

    .offer__message {
        font-size: 1.3em;
    }

    .regular-title {
        font-size: 2rem;
    }

    .get-list,
    .install-list,
    .our-work-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .form-control label {
        font-size: 1rem;
    }

    .form-control input {
        line-height: 3rem;
    }

    .form-control .primary-btn {
        padding: 15px;
    }

    .about-wrapper,
    .contacts-wrapper {
        flex-direction: column;
    }

    .about-video, .about-info,
    .contacts-map, .contacts-info {
        width: 100%;
    }

    .about-video {
        margin-bottom: 25px;
    }

    .swiper-btn {
        width: 40px;
        height: 40px;
    }

    .swiper-btn svg {
        width: 20px;
        height: auto;
    }

    .swiper-btn.swiper-next {
        transform: translateY(-50%) translateX(calc(100% + 8px));
    }

    .swiper-btn.swiper-prev {
        transform: translateY(-50%) translateX(calc(-100% - 8px));
    }

    .contacts-map {
        margin-bottom: 28px;
    }

    .header {
        padding: 5px 0;
    }

    .itb-card__body {
        padding: 21px 15px 29px;
    }

    .filter-aside {
        display: none;
    }

    .shop-main {
        width: 100%;
    }

    .mobile-filters {
        margin-bottom: 28px;
        position: relative;
    }

    .mobile-filter-btn {
        font-size: 1rem;
        line-height: 1.5em;
        padding: 11px 20px;
        min-width: 110px;
        transition: all .4s ease;
        border: 1px solid #2E3A3B;
        border-radius: 100px;
        position: relative;
    }

    .mobile-filter-btn.active {
        background-color: #2E3A3B;
        color: #fff;
    }

    .mobile-filter-btn:not(:last-child) {
        margin-right: 9px;
    }

    .mobile-filter-btn.tip::after {
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #EA730E;
        top: 11px;
        right: 16px;
    }

    .mobile-filter-wrapper {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 20px;
        background-color: #2E3A3B;
        border-radius: 4px;
        transform: translateY(calc(100% + 28px));
        z-index: 9999999;
        transition: all .3s ease;
        opacity: 0;
        visibility: hidden;
    }

    .mobile-filter-wrapper .ac-panel .checkbox-text {
        color: #fff;
    }

    .mobile-filter-wrapper.active {
        opacity: 1;
        visibility: visible;
    }

}

@media screen and (max-width: 768px) {
    .swiper-btn.swiper-next {
        transform: translateY(-50%) translateX(calc(100% + -5px));
    }

    .swiper-btn.swiper-prev {
        transform: translateY(-50%) translateX(calc(-100% + 5px));
    }

    .work-permits-title,
    .about-title {
        margin-bottom: 40px;
    }

    .itb-tile__title,
    .itb-tile:hover .itb-tile__title {
        font-size: 1.25rem;
    }

    .itb-tile__message,
    .itb-tile:hover .itb-tile__message {
        font-size: 1.125rem;
    }

    .itb-tile:hover .itb-tile__content {
        padding: 0 20px;
    }

    .request-form {
        width: 41.258064%;
    }

    .request-img {
        width: 55.298811%;
    }

    .container {
        width: 87.1428%;
    }

    .prices-section .table td a::after {
        content: 'Перейти';
    }

    .prices-section .table td a span {
        display: none;
    }
    
}

@media screen and (max-width: 576px) {
    .install-list {
        gap: 0;
        display: flex;
    }

    .container {
        width: 100%;
        padding: 0 16px;
    }

    .swiper#install-list {
        overflow: visible;
    }

    .cart-link {
        width: 35px;
        height: 35px;
        min-width: 35px
    }

    .cart-link img {
        width: 21px;
        height: auto;
    }

    .cart-link::after {
        font-size: 0.75rem;
        width: 15px;
        height: 15px;
        min-width: 15px;
    }

    .menu__link, .header-contacts a {
        font-size: 0.75rem;
        line-height: 1.333em;
        text-align: right;
    }

    .header .logo-mobile {
        margin-left: 15px;
    }

    .offer-section {
        padding: 15px 0 21px;
    }

    .offer .breadcrumbs {
        margin-bottom: 10px;
    }

    .breadcrumbs__link {
        font-size: 0.75rem;
    }

    .offer__title {
        font-size: 1rem;
        line-height: 1.5em;
        margin-bottom: 10px;
    }

    .offer__message {
        font-size: 0.75rem;
        line-height: 1.333em;
        margin-bottom: 13px;    
    }

    .primary-btn {
        font-size: 0.625rem;
        padding: 9px 25px 8px;
    }

    .get-section {
        padding: 20px 0 40px;
    }

    .regular-title {
        font-size: 1.25rem;
    }

    .get__title {
        margin-bottom: 16px;
    }

    .get-list {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .get-list__item-icon {
        max-width: 110px;
    }

    .get-list__item-title {
        font-size: 1.125rem;
        line-height: 1.333em;
        margin-bottom: 10px;
    }

    .get-list__item-message {
        max-width: 100%;
        font-size: 0.875rem;
        line-height: 1.5em;
    }

    .install-section {
        padding: 20px 0 38px;
    }

    .install__title {
        margin-bottom: 20px;
    }

    .itb-card__img img {
        height: 168px;
    }

    .itb-card__body {
        padding: 29px 32px 23px;
    }

    .itb-card__title {
        font-size: 1.125rem;
        line-height: 1.556em;
        margin-bottom: 9px;
    }

    .itb-card__message {
        font-size: 1rem;
        margin-bottom: 29px;
    }

    .itb-card__more {
        padding: 12px;
    }

    .slider-pagination {
        display: flex;
        justify-content: center;
        padding-top: 21px;
    }

    .swiper-pagination-bullet-active {
        background-color: #EA730E;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }

    .form-section {
        padding: 29px 0 28px;
    }

    .form-title {
        margin: 0 auto 19px;
        max-width: 255px;
    }

    .form-wrapper {
        flex-direction: column;
    }

    .form-wrapper .form-control:first-child, 
    .form-wrapper .form-control:nth-child(2),
    .form-wrapper .form-control:last-child {
        width: 100%;
    }

    .form-wrapper .form-control {
        margin-bottom: 8px;
    }

    .form-wrapper .form-control .primary-btn {
        width: 100%;
        max-width: 214px;
        margin: 32px auto 0;
    }

    .form-wrapper {
        margin-bottom: 13px;
    }

    .form-tip {
        font-size: 0.75rem;
        line-height: 1.5em;
    }

    .about-section {
        padding: 25px 0 22px;
    }

    .about-title,
    .richtext > *:not(:last-child),
    .work-permits-title {
        margin-bottom: 25px;
    }

    .about-video iframe {
        height: 165px;
    }

    .richtext strong {
        font-size: 1rem;
    }

    .richtext ul li:not(:last-child), .richtext ol li:not(:last-child) {
        margin-bottom: 20px;
    }

    .work-permits-section {
        padding: 22px 0 15px;
    }

    .swiper-btn {
        display: none;
    }

    .our-work-section {
        padding: 15px 0 30px;
    }

    .our-work-title {
        margin-bottom: 23px;
    }

    .our-work-grid {
        display: flex;
        gap: unset;
        grid-template-columns: unset;
    }

    .review-section {
        padding: 18px 0 26px;
    }

    .review-title {
        margin-bottom: 25px;
    }

    .review-section .review-btn-wrapper {
        display: none;
    }

    .review-wrapper {
        margin-bottom: 0;
    }

    .contacts-section {
        padding: 28px 0 30px;
    }

    .contacts-title,
    .contacts-list:not(:last-child) {
        margin-bottom: 16px;
    }

    .contacts-link, .contacts-social-title {
        font-size: 1rem;
        line-height: 1.5em;
    }

    .contacts-row__icon {
        width: 17px;
        min-width: 17px;
    }

    .contacts-row__icon img {
        width: 100%;
        height: auto;
    }

    .contacts-list:first-child .contacts-row__icon img {
        width: 14px;
    }

    .contacts-list:nth-child(2) .contacts-row:first-child .contacts-row__icon img {
        width: 13px;
    }

    .contacts-list:not(:last-child) {
        border-bottom: 2px solid #664B2E;
    }

    .contacts-list:not(:last-child) .contacts-row:last-child .contacts-group {
        border-bottom: none;
    }

    .contacts-row__icon {
        margin-right: 16px;
    }

    .contacts-main {
        margin-bottom: 28px;
    }

    .contacts-social-title {
        text-align: center;
        margin-bottom: 7px;
    }

    .social-list {
        justify-content: center;
    }

    .social-list__item:not(:last-child) {
        margin-right: 26px;
    }

    .social-list__link img {
        width: 37px;
        height: 37px;
    }

    .swiper-arr-shadow  {
        display: none;
    }

    .itb-complex-section {
        padding: 33px 0 35px;
    }

    .itb-complex-title {
        margin-bottom: 23px;
    }

    .itb-complex-btn-wrapper {
        min-width: 214px;
    }

    .itb-complex-btn-wrapper .primary-btn {
        padding: 14px 15px 13px;
    }

    .request-wrapper {
        flex-direction: column;
    }

    .request-img {
        width: 100%;
        margin-bottom: 26px;
    }

    .request-form {
        width: 100%;
    }

    .request-form .form-control {
        margin-bottom: 8px;
    }

    .request-form .form-control:last-of-type {
        margin-bottom: 40px;
    }

    .request-form .primary-btn {
        max-width: 214px;
        padding: 14px 15px 13px;
        margin-bottom: 21px;
    }

    .request-tip {
        font-size: 0.75rem;
        line-height: 1.5em;
        text-align: center;
    }

    .request-section {
        padding: 27px 0 28px;
    }

    .install-section_services .install-list {
        margin-bottom: 0;
    }

    .install-section_services #install-list {
        margin-bottom: 32px;
    }

    .services-link {
        font-size: 1rem;
        padding: 10px 18px 11px;
    }

    .prices-section {
        padding: 21px 0 41px;
    }

    .prices-section .breadcrumbs {
        margin-bottom: 15px;
        padding: 0 16px;
    }

    .prices-title {
        margin-bottom: 25px;
        padding: 0 16px;
    }

    .prices-section .container {
        padding: 0;
    }

    .table th, .table td {
        font-size: 0.75rem;
        line-height: 1.5em;
        padding: 7px 2.7142vw;
    }

    .shop-list {
        display: flex;
        gap: 0;
        grid-template-columns: unset;
    }

    .shop-card-wrapper {
        display: flex;
    }

    .card-tip-list {
        top: 0;
        left: 0;
    }

    .card-tip-list .card-tip {
        width: 100%;
        font-size: 0.875rem;
        padding: 0 7px;
    }

    .shop-card__info {
        padding: 7px 6px 0 14px;
    }

    .shop-card__img {
        width: 94px;
        height: 94px;
        min-width: 94px;
        border-radius: 4px;
        overflow: hidden;
    }

    .shop-card__title {
        font-size: 1.125rem;
        line-height: 1.556em;
        margin-bottom: 12px;
    }

    .shop-card__message {
        font-size: 0.875rem;
        line-height: 1.571em;
    }

    .shop-card__control {
        padding: 17px 11px 18px;
        justify-content: flex-start;
    }

    .shop-card__btn {
        padding: 11px 10px 11px;
    }

    #shop-list-slider.swiper {
        overflow: visible;
    }

    .shop-show-more {
        margin-top: 28px;
        display: flex;
        justify-content: center;
    }

    .shop-show-more .primary-btn {
        max-width: 214px;
        padding: 14px 25px 13px;
        font-size: 0.75rem;
    }

    .shop-section {
        padding: 21px 0 45px;
    }
}

@media screen and (min-width: 1024px) {
    .mobile-filters {
        display: none;
    }
}


@media screen and (min-width: 576px) {
    .itb-tile.swiper-slide,
    .itb-card.swiper-slide,
    .shop-card.swiper-slide {
        width: unset;
    }

    .swiper#install-list,
    .swiper#shop-list-slider,
    .swiper#our-work-list {
        overflow: visible;
    }

    .slider-pagination {
        display: none;
    }
}