@media screen and (min-width: 1500px) {
    .table th, .table td {
        padding: 4px 4vw;
    }
}

@media screen and (max-width: 1366px) {
    .menu__item:not(:last-child) {
        margin-right: 20px;
    }

    .logo img {
        max-width: 200px;
    }

    .table th, .table td {
        padding: 4px 3.7142vw;
    }   
}

@media screen and (max-width: 1200px) {
    .logo img {
        max-width: 160px;
    }

    .menu__link,
    .header-contacts a {
        font-size: 0.875rem;
    }

    .cart-link {
        width: 40px;
        height: 40px;
        min-width: 40px;
    }

    .table th, .table td {
        font-size: 1rem;
        line-height: 2.5em;
    }

    .shop-list {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    }

    .stat-extra {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .stat-extra__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 14px;
    }

    .cart-item .container,
    .cart-result .container {
        width: 91.2857%;
    }
}

@media screen and (max-width: 1023px) {
    .logo,
    .cart-link:not(.cart-link_m),
    .header-wrapper > nav,
    .footer nav {
        display: none;
    }

    .logo-mobile,
    .cart-link.cart-link_m {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .humburger,
    .mobile-menu-wrapper,
    .footer .logo {
        display: block;
    }

    .header .header-contacts__link,
    .mobile-filter-wrapper .ac-panel .checkbox-text {
        color: #fff;
    }
    
    .offer__title {
        font-size: 2.2rem;
    }

    .offer__message {
        font-size: 1.3em;
    }

    .regular-title {
        font-size: 2rem;
    }

    .get-list,
    .install-list,
    .our-work-grid {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    }

    .form-control label {
        font-size: 1rem;
    }

    .form-control input {
        line-height: 3rem;
    }

    .form-control .primary-btn {
        padding: 15px;
    }

    .about-wrapper,
    .contacts-wrapper, .cart-item__body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .about-video, .about-info,
    .contacts-map, .contacts-info,
    .cart-item__control, .shop-main {
        width: 100%;
    }

    .about-video {
        margin-bottom: 25px;
    }

    .swiper-btn {
        width: 40px;
        height: 40px;
    }

    .swiper-btn svg {
        width: 20px;
        height: auto;
    }

    .swiper-btn.swiper-next {
        -webkit-transform: translateY(-50%) translateX(calc(100% + 8px));
            -ms-transform: translateY(-50%) translateX(calc(100% + 8px));
                transform: translateY(-50%) translateX(calc(100% + 8px));
    }

    .swiper-btn.swiper-prev {
        -webkit-transform: translateY(-50%) translateX(calc(-100% - 8px));
            -ms-transform: translateY(-50%) translateX(calc(-100% - 8px));
                transform: translateY(-50%) translateX(calc(-100% - 8px));
    }

    .contacts-map {
        margin-bottom: 28px;
    }

    .header {
        padding: 5px 0;
    }

    .itb-card__body {
        padding: 21px 15px 29px;
    }

    .filter-aside {
        display: none;
    }

    .mobile-filters {
        margin-bottom: 28px;
        position: relative;
    }

    .mobile-filter-btn {
        font-size: 1rem;
        line-height: 1.5em;
        padding: 11px 20px;
        min-width: 110px;
        -webkit-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
        border: 1px solid #2E3A3B;
        border-radius: 100px;
        position: relative;
        color: #2E3A3B;
    }

    .mobile-filter-btn.active {
        background-color: #2E3A3B;
        color: #fff;
    }

    .mobile-filter-btn:not(:last-child) {
        margin-right: 9px;
    }

    .mobile-filter-btn.tip::after {
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #EA730E;
        top: 11px;
        right: 16px;
    }

    .mobile-filter-wrapper {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 20px;
        background-color: #2E3A3B;
        border-radius: 4px;
        -webkit-transform: translateY(calc(100% + 28px));
            -ms-transform: translateY(calc(100% + 28px));
                transform: translateY(calc(100% + 28px));
        z-index: 9999999;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        opacity: 0;
        visibility: hidden;
    }

    .mobile-filter-wrapper.active {
        opacity: 1;
        visibility: visible;
    }

    .contacts-page-section .contacts-map {
        width: 100%;
        margin-left: unset;
    }

    .cart-item__content {
        width: 56.10169%;
    }

    .cart-item__img {
        width: 40.2033%; 
    }

    .cart-item-wrapper {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .cart-item__stats {
        width: 100%;
        max-width: unset;
        margin-bottom: 43px;
    }
}

@media screen and (max-width: 768px) {
    .swiper-btn.swiper-next {
        -webkit-transform: translateY(-50%) translateX(calc(100% + -5px));
            -ms-transform: translateY(-50%) translateX(calc(100% + -5px));
                transform: translateY(-50%) translateX(calc(100% + -5px));
    }

    .swiper-btn.swiper-prev {
        -webkit-transform: translateY(-50%) translateX(calc(-100% + 5px));
            -ms-transform: translateY(-50%) translateX(calc(-100% + 5px));
                transform: translateY(-50%) translateX(calc(-100% + 5px));
    }

    .work-permits-title,
    .about-title {
        margin-bottom: 40px;
    }

    .itb-tile__title,
    .itb-tile:hover .itb-tile__title {
        font-size: 1.25rem;
    }

    .itb-tile__message,
    .itb-tile:hover .itb-tile__message {
        font-size: 1.125rem;
    }

    .itb-tile:hover .itb-tile__content {
        padding: 0 20px;
    }

    .request-form {
        width: 41.258064%;
    }

    .request-img {
        width: 55.298811%;
    }

    .container {
        width: 87.1428%;
    }

    .prices-section .table td a::after {
        content: 'Перейти';
    }

    .prices-section .table td a span,
    .cart-item__content .cart-item__header {
        display: none;
    }

    .news-acticle, .shop-item-wrapper,
    .cart-item-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .news-acticle__img {
        max-height: 300px;
        margin-bottom: 25px;
    }

    .news-acticle__info,
    .shop-item__info, .shop-item__slider,
    .cart-item__img, .news-acticle__img,
    .cart-item__content, .cart-item__header.cart-item__header-m {
        width: 100%;
    }
    
    .news-item-info-wrapper {
        -webkit-column-count: unset;
           -moz-column-count: unset;
                column-count: unset;
        width: 87.1428%;
        margin: 0 auto;
    }

    .shop-item__slider {
        margin-bottom: 21px;
    }

    .shop-item__stats {
        max-width: unset;
    }

    .shop-item__desc {
        -webkit-column-count: unset;
           -moz-column-count: unset;
                column-count: unset;
    }
    
    .shop-item__desc p {
        margin-bottom: 16px;
    }

    .cart-item__img {
        max-height: 300px;
        margin-bottom: 25px;
    }

    .cart-item__header.cart-item__header-m {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .modal__container {
        max-width: 90vw;
    }

    .modal__overlay {
        align-items: flex-start;
        padding: 30px 0;
    }
}

@media screen and (max-width: 576px) {
    .install-list {
        gap: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .container {
        width: 100%;
        padding: 0 16px;
    }

    .swiper#install-list,
    #shop-list-slider.swiper,
    .install-section_shop-item .itb-complex-wrapper .swiper {
        overflow: visible;
    }

    .cart-link {
        width: 35px;
        height: 35px;
        min-width: 35px
    }

    .cart-link img {
        width: 21px;
        height: auto;
    }

    .cart-link::after, .menu__link, .header-contacts a,
    .breadcrumbs__link, .offer__message, .form-tip, .request-tip,
    .table th, .table td, .shop-show-more .primary-btn,
    .news-acticle__message, .news-acticle__time, .news-item-info-wrapper,
    .stat-control .primary-btn, .file-download {
        font-size: 0.75rem;
    }

    .cart-link::after {
        width: 15px;
        height: 15px;
        min-width: 15px;
    }

    .menu__link, .header-contacts a {
        line-height: 1.333em;
        text-align: right;
    }

    .header .logo-mobile {
        margin-left: 15px;
    }

    .offer-section {
        padding: 15px 0 21px;
    }

    .offer .breadcrumbs {
        margin-bottom: 10px;
    }

    .cart-result-discount, .offer__title, .get-list__item-message,
    .form-tip {
        line-height: 1.5em;
    }

    .offer__title {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .offer__message {
        line-height: 1.333em;
        margin-bottom: 13px;    
    }

    .primary-btn {
        font-size: 0.625rem;
        padding: 9px 25px 8px;
    }

    .get-section {
        padding: 20px 0 40px;
    }

    .regular-title {
        font-size: 1.25rem;
    }

    .get__title {
        margin-bottom: 16px;
    }

    .get-list {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .get-list__item-icon {
        max-width: 110px;
    }

    .get-list__item-title {
        font-size: 1.125rem;
        line-height: 1.333em;
        margin-bottom: 10px;
    }

    .get-list__item-message {
        max-width: 100%;
        font-size: 0.875rem;
    }

    .install-section {
        padding: 20px 0 38px;
    }

    .install__title {
        margin-bottom: 20px;
    }

    .itb-card__img img {
        height: 168px;
    }

    .itb-card__body {
        padding: 29px 32px 23px;
    }

    .itb-card__title {
        font-size: 1.125rem;
        line-height: 1.556em;
        margin-bottom: 9px;
    }

    .itb-card__message {
        font-size: 1rem;
        margin-bottom: 29px;
    }

    .itb-card__more {
        padding: 12px;
    }

    .slider-pagination {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-top: 21px;
    }

    .swiper-pagination-bullet-active {
        background-color: #EA730E;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }

    .form-section {
        padding: 29px 0 28px;
    }

    .form-title {
        margin: 0 auto 19px;
        max-width: 255px;
    }

    .form-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .form-wrapper .form-control:first-child, 
    .form-wrapper .form-control:nth-child(2),
    .form-wrapper .form-control:last-child {
        width: 100%;
    }

    .form-wrapper .form-control {
        margin-bottom: 8px;
    }

    .form-wrapper .form-control .primary-btn {
        width: 100%;
        max-width: 214px;
        margin: 32px auto 0;
    }

    .form-wrapper {
        margin-bottom: 13px;
    }

    .about-section {
        padding: 25px 0 22px;
    }

    .about-title,
    .richtext > *:not(:last-child),
    .work-permits-title {
        margin-bottom: 25px;
    }

    .about-video iframe {
        height: 165px;
    }

    .richtext strong {
        font-size: 1rem;
    }

    .richtext ul li:not(:last-child), .richtext ol li:not(:last-child) {
        margin-bottom: 20px;
    }

    .work-permits-section {
        padding: 22px 0 15px;
    }

    .swiper-btn {
        display: none;
    }

    .our-work-section {
        padding: 15px 0 30px;
    }

    .our-work-title {
        margin-bottom: 23px;
    }

    .our-work-grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: unset;
        -ms-grid-columns: unset;
        grid-template-columns: unset;
    }

    .review-section {
        padding: 18px 0 26px;
    }

    .review-title {
        margin-bottom: 25px;
    }

    .review-section .review-btn-wrapper {
        display: none;
    }

    .review-wrapper {
        margin-bottom: 0;
    }

    .contacts-section {
        padding: 28px 0 30px;
    }

    .contacts-title,
    .contacts-list:not(:last-child) {
        margin-bottom: 16px;
    }

    .contacts-link, .contacts-social-title,
    .news-item-title, .contacts-download, .stat-control .shop-card__price, 
    .cart-item__title, .cart-delete-btn, .cart-item__control-row {
        font-size: 1rem;
        line-height: 1.5em;
    }

    .contacts-row__icon {
        width: 17px;
        min-width: 17px;
    }

    .contacts-row__icon img {
        width: 100%;
        height: auto;
    }

    .contacts-list:first-child .contacts-row__icon img {
        width: 14px;
    }

    .contacts-list:nth-child(2) .contacts-row:first-child .contacts-row__icon img {
        width: 13px;
    }

    .contacts-list:not(:last-child) {
        border-bottom: 2px solid #664B2E;
    }

    .contacts-list:not(:last-child) .contacts-row:last-child .contacts-group {
        border-bottom: none;
    }

    .contacts-row__icon {
        margin-right: 16px;
    }

    .contacts-main {
        margin-bottom: 28px;
    }

    .contacts-social-title {
        text-align: center;
        margin-bottom: 7px;
    }

    .social-list {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .social-list__item:not(:last-child) {
        margin-right: 26px;
    }

    .social-list__link img {
        width: 37px;
        height: 37px;
    }

    .swiper-arr-shadow  {
        display: none;
    }

    .itb-complex-section {
        padding: 33px 0 35px;
    }

    .itb-complex-title {
        margin-bottom: 23px;
    }

    .itb-complex-btn-wrapper {
        min-width: 214px;
    }

    .itb-complex-btn-wrapper .primary-btn {
        padding: 14px 15px 13px;
    }

    .request-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .request-img {
        width: 100%;
        margin-bottom: 26px;
    }

    .request-form {
        width: 100%;
    }

    .request-form .form-control {
        margin-bottom: 8px;
    }

    .request-form .form-control:last-of-type {
        margin-bottom: 40px;
    }

    .request-form .primary-btn {
        max-width: 214px;
        padding: 14px 15px 13px;
        margin-bottom: 21px;
    }

    .request-tip {
        line-height: 1.5em;
        text-align: center;
    }

    .request-section {
        padding: 27px 0 28px;
    }

    .install-section_services .install-list {
        margin-bottom: 0;
    }

    .install-section_services #install-list {
        margin-bottom: 32px;
    }

    .services-link {
        font-size: 1rem;
        padding: 10px 18px 11px;
    }

    .prices-section {
        padding: 21px 0 41px;
    }

    .prices-section .breadcrumbs {
        margin-bottom: 15px;
        padding: 0 16px;
    }

    .prices-title {
        margin-bottom: 25px;
        padding: 0 16px;
    }

    .prices-section .container {
        padding: 0;
    }

    .table th, .table td {
        line-height: 1.5em;
        padding: 7px 2.7142vw;
    }

    .shop-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 0;
        -ms-grid-columns: unset;
        grid-template-columns: unset;
    }

    .shop-card-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .card-tip-list {
        top: 0;
        left: 0;
    }

    .card-tip-list .card-tip {
        width: 100%;
        font-size: 0.875rem;
        padding: 0 7px;
    }

    .shop-card__info {
        padding: 7px 6px 0 14px;
    }

    .shop-card__img {
        width: 94px;
        height: 94px;
        min-width: 94px;
        border-radius: 4px;
        overflow: hidden;
    }

    .shop-card__title {
        font-size: 1.125rem;
        line-height: 1.556em;
        margin-bottom: 12px;
    }

    .shop-card__message {
        font-size: 0.875rem;
        line-height: 1.571em;
    }

    .shop-card__control {
        padding: 17px 11px 18px;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .shop-card__btn {
        padding: 11px 10px 11px;
    }

    .shop-show-more {
        margin-top: 28px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .shop-show-more .primary-btn {
        max-width: 214px;
        padding: 14px 25px 13px;
    }

    .shop-section {
        padding: 21px 0 45px;
    }

    .works-title {
        margin-bottom: 25px;
    }

    .works-section .breadcrumbs {
        margin-bottom: 15px;
    }

    .itb-tile {
        min-height: 213px;
    }

    .works-section {
        padding: 21px 0 53px;
    }

    .news-acticle__img {
        min-height: unset;
        height: 212px;
        margin-bottom: 14px;
    } 

    .news-acticle__title {
        font-size: 1rem;
        margin-bottom: 7px;
    }

    .news-acticle__message {
        line-height: 1.5em;
        margin-bottom: 3px;
    }

    .news-acticle__time {
        line-height: 2.333em;
    }

    .news-acticle:not(:last-child) {
        margin-bottom: 28px;
    }

    .news-more-btn {
        max-width: 214px;
        padding: 11px 15px;
    }

    .news-title {
        margin-bottom: 25px;
    }

    .news-section .breadcrumbs {
        margin-bottom: 15px;
    }

    .news-item-section {
        padding: 19px 0 69px;
    }

    .news-item-section .breadcrumbs {
        margin-bottom: 45px;
    }

    .news-item-title {
        max-width: 250px;
    }

    .news-item-info {
        padding: 22px 0 23px;
    }

    .news-item-info-wrapper {
        line-height: 1.5em;
    }

    .news-item-info-wrapper p {
        margin-bottom: 16px;
    }

    .popular-news-section {
        padding: 25px 0 36px;
    }

    .popular-news-title {
        margin-bottom: 27px;
    }

    .contacts-page-section {
        padding: 13px 0 17px;
    }

    .contacts-page-section .breadcrumbs {
        margin-bottom: 15px;
    }

    .contacts-page-title {
        margin-bottom: 28px;
    }

    .contacts-page-section .contacts-social {
        margin-bottom: 23px;
    }

    .contacts-download img:first-of-type {
        width: 30px;
        height: auto;
    }

    .contacts-download {
        width: 100%;
    }

    .contacts-download img:last-of-type {
        margin-left: auto;
    }

    .shop-item-section .container {
        width: 100%;
    }

    .breadcrumbs {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .shop-item-section {
        padding: 21px 0 32px;
    }

    .shop-item-section .breadcrumbs {
        margin-bottom: 15px;
    }

    .shop-item-title {
        max-width: 250px;
        margin: 0 auto 23px; 
    }

    .shop-item-slider-main {
        margin-bottom: 12px;
    }

    .shop-item__subtitle {
        font-size: 1rem;
        line-height: 1.375em;
        text-align: center;
        margin-bottom: 15px;
    }

    .item-stats__item,
    .stat-control .shop-card__price span[data-full-price]::before,
    .stat-extra__item,
    .b-nav-tab,
    .shop-item__desc {
        font-size: 0.875rem;
        line-height: 1.5em;
    }

    .item-stats {
        margin-bottom: 16px;
    }

    .stat-control .primary-btn {
        max-width: 150px;
        padding: 12px 15px;
    }

    .stat-control {
        margin-bottom: 30px;
    }

    .stat-extra__item img {
        width: 34px;
        height: auto;
    }

    .shop-item-wrapper {
        margin-bottom: 30px;
    }

    .b-nav-tab {
        line-height: 2em;
        padding: 0;
    }

    .b-nav-tab:not(:last-child) {
        margin-right: 30px;
    }

    .tabs-nav {
        margin-bottom: 27px;
    }

    .file-download {
        line-height: 1.5em;
    }

    .file-download img {
        width: 12px;
        height: auto;
        margin-right: 7px;
    }

    .install-section_shop-item .install-list {
        margin-bottom: 0px;
    }

    .install-section_shop-item .itb-complex-wrapper {
        margin-top: 32px;
    }

    .cart-item .container, .cart-result .container {
        width: 100%;
    }

    .cart-item__header.cart-item__header-m {
        margin-bottom: 10px;
    }

    .cart-item__img {
        margin-bottom: 15px;
    }

    .cart-item__sum {
        font-size: 1.25rem;
    }

    .cart-item {
        padding: 35px 0;
    }

    .cart-section .breadcrumbs {
        margin-bottom: 15px;
    }

    .cart-result .container {
        padding: 0;
    }

    .cart-result-discount,
    .cart-result-main {
        padding: 0 16px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .cart-result-wrapper .primary-btn {
        margin: 0 auto;
        padding: 14px 25px 13px;
    }

    .cart-result-discount {
        font-size: 1.125em;
    }

    .cart-result-main {
        font-size: 1.5rem;
    }

    .cart-result-main-value {
        margin-left: 15px;
    }

    .cart-result {
        padding-bottom: 57px;
    }

    .mobile-filter-wrapper {
        padding: 0;
    }

    .cd-top {
        display: none;
    }

    .modal__container {
        padding: 28px 15px;
    }

    .modal-title {
        font-size: 1rem;
        line-height: 1.5em;
        margin-bottom: 13px;
    }

    .modal-message {
        font-size: 0.875rem;
        line-height: 1.5em;
        margin-bottom: 12px;
    }

    .column-form .primary-btn {
        padding: 14px 25px 13px;
        margin-bottom: 22px;
    }

    .modal-tip {
        font-size: 0.75rem;
        line-height: 1.5em;
    }
}

@media screen and (min-width: 1024px) {
    .mobile-filters {
        display: none;
    }
}


@media screen and (min-width: 576px) {
    .itb-tile.swiper-slide,
    .itb-card.swiper-slide,
    .shop-card.swiper-slide {
        width: unset;
    }

    .swiper#install-list,
    .swiper#shop-list-slider,
    .swiper#our-work-page,
    .swiper#our-work-list {
        overflow: visible;
    }

    .slider-pagination {
        display: none;
    }
}