@font-face {
	font-family: 'Circe';
	src: url('../assets/fonts/Circe-Regular.eot');
	src: local('Circe'), local('Circe-Regular'),
		url('../assets/fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/Circe-Regular.woff') format('woff'),
		url('../assets/fonts/Circe-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../assets/fonts/Circe-Thin.eot');
	src: local('Circe Thin'), local('Circe-Thin'),
		url('../assets/fonts/Circe-Thin.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/Circe-Thin.woff') format('woff'),
		url('../assets/fonts/Circe-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../assets/fonts/Circe-Light.eot');
	src: local('Circe Light'), local('Circe-Light'),
		url('../assets/fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/Circe-Light.woff') format('woff'),
		url('../assets/fonts/Circe-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../assets/fonts/Circe-Bold.eot');
	src: local('Circe Bold'), local('Circe-Bold'),
		url('../assets/fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/Circe-Bold.woff') format('woff'),
		url('../assets/fonts/Circe-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

body,
html {
    font-family: 'Circe', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
    font-style: normal;
    color: #000;
}

button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 700;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    overflow: hidden;
}

section {
    position: relative;
}

a {
    text-decoration: none;
    color: #EA730E;
}

.container {
    margin: 0 auto;
    width: 84.1428%;
    max-width: 1178px;
}

.d-none {
    display: none;
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.flex-align-center {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.flex-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.flex-column-align-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.flex-column-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.flex-column-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.img-cover {
    -o-object-fit: cover;
    object-fit: cover;
}

.img-contain {
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
       object-position: center;
}

.p-absolute {
    position: absolute;
}

.p-relative {
    position: relative;
}

.o-hidden {
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.img-full-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.uppercase {
    text-transform: uppercase;
}

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.breadcrumbs__item {
    margin-right: 8px;
}

.breadcrumbs__item a {
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden; 
    max-width: 164px;
    width: 100%; 
    display: block;
    white-space: nowrap;
}

.breadcrumbs__link {
    font-size: 1rem;
    line-height: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.breadcrumbs__item:last-child .breadcrumbs__link {
    color: #fff;
    opacity: 0.5;
}

.breadcrumbs__item:not(:last-child) .breadcrumbs__link::after {
    content: '>';
    padding: 2px 0 0 8px;
}

.primary-btn {
    color: #fff;
    text-transform: uppercase;
    padding: 15px 42px;
    background-color: #EA730E;
    border-radius: 4px;
    border: none;
    font-size: 0.75rem;
    line-height: 1.5em;
    font-weight: 700;
}

a.primary-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.primary-btn.black {
    background-color: #000;
    color: #fff;
}

.regular-title {
    font-size: 2.5rem;
    line-height: 1.475em;
    text-align: center;
}

.itb-card {
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.itb-card::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: border-color .4s ease;
    -o-transition: border-color .4s ease;
    transition: border-color .4s ease;
    border: 2px solid transparent;
    z-index: -1;
}

.itb-card__img {
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.itb-card__img::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: -o-linear-gradient(bottom, rgba(46, 58, 59, 0.6), rgba(46, 58, 59, 0.6));
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(46, 58, 59, 0.6)), to(rgba(46, 58, 59, 0.6)));
    background: linear-gradient(0deg, rgba(46, 58, 59, 0.6), rgba(46, 58, 59, 0.6));
    -webkit-transition: opacity .4s ease;
    -o-transition: opacity .4s ease;
    transition: opacity .4s ease;
    opacity: 0;
    z-index: -2
}

.itb-card__img img {
    width: 100%;
    height: 221px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    z-index: -2;
}

.itb-card__body {
    padding: 21px 25px 29px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: calc(100% - 221px);
}

.itb-card__title {
    font-size: 1.25rem;
    line-height: 1.4em;
    margin-bottom: 16px;
}

.itb-card__message {
    font-size: 1.125rem;
    line-height: 1.556em;
    color: #EA730E;
    margin-bottom: 20px;
}

.itb-card__more {
    display: block;
    max-width: 278px;
    width: 100%;
    color: #2E3A3B;
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1.5em;
    font-weight: 700;
    padding: 15px 20px;
    border: 1px solid #2E3A3B;
    border-radius: 4px;
    -webkit-transition: background-color .4s ease,
                color .4s ease;
    -o-transition: background-color .4s ease,
                color .4s ease;
    transition: background-color .4s ease,
                color .4s ease;
}

.itb-card:hover::before {
    border-color: #EA730E;
}

.itb-card:hover .itb-card__img::after {
    opacity: 1;
}

.itb-card:hover .itb-card__more {
    background-color: #2E3A3B;
    color: #fff;
}

.form-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
}

.form-control label {
    font-size: 1.25rem;
    line-height: 2.35em;
    font-weight: 300;
}

.form-control input {
    background: none;
    border: none;
    border-bottom: 1px solid #C4C4C4;
    font-size: 1rem;
    line-height: 3.500em;
    font-weight: 700;
    -webkit-transition: border-color .4s ease;
    -o-transition: border-color .4s ease;
    transition: border-color .4s ease;
}

.form-control input:focus,
.form-control input:active {
    border-bottom-color: #EA730E;
}

.richtext {
    font-size: 1rem;
    line-height: 1.5em;
    color: #000;
}

.richtext > *:not(:last-child) {
    margin-bottom: 25px;
}

.richtext strong {
    font-size: 1.25rem;
    line-height: 1.4em;
    color: #EA730E;
    display: block;
}

.richtext h6 {
    font-size: 1rem;
    line-height: 1.5em;
}

.richtext ul {
    list-style-type: disc;
    padding-left: 23px;
}

.richtext ol {
    list-style-type: decimal;
    padding-left: 23px;
}

.richtext ul li:not(:last-child),
.richtext ol li:not(:last-child) {
    margin-bottom: 24px;
}

.swiper-btn {
    width: 55px;
    height: 55px;
    border: 2px solid #EA730E;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 99999999;
    cursor: pointer;
    -webkit-transition: border-color .4s ease;
    -o-transition: border-color .4s ease;
    transition: border-color .4s ease;
}

.swiper-btn svg path {
    -webkit-transition: fill .4s ease;
    -o-transition: fill .4s ease;
    transition: fill .4s ease;
}

.swiper-btn.swiper-button-disabled {
    border-color: transparent;
}

.swiper-button-disabled.swiper-btn svg path {
    fill: #A0A0A0;
}

.swiper-btn::after {
    display: none;
}

.swiper-btn.swiper-prev {
    left: 0;
    -webkit-transform: translateY(-50%) translateX(calc(-100% - 13px));
        -ms-transform: translateY(-50%) translateX(calc(-100% - 13px));
            transform: translateY(-50%) translateX(calc(-100% - 13px));
}

.swiper-btn.swiper-next {
    right: 0;
    -webkit-transform: translateY(-50%) translateX(calc(100% + 13px));
        -ms-transform: translateY(-50%) translateX(calc(100% + 13px));
            transform: translateY(-50%) translateX(calc(100% + 13px));
}

  
.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 99999;
}
  
.modal__container {
    background-color: #fff;
    padding: 37px 53px 45px 52px;
    max-width: 580px;
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
    -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
  
.modal-offer {
    text-align: center;
    max-width: 400px;
    margin: 0 auto 14px;
}

.modal-title {
    font-size: 1.25rem;
    line-height: 1.45em;
    margin-bottom: 14px;
}

.modal-message {
    font-weight: 300;
}


.checkbox {
    display: block;
    position: relative;
    padding-left: 54px;
    margin-bottom: 48px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-text {
    font-weight: 300;
    padding-top: 8px;
    display: block;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 37px;
    background-color: #eee;
    border-radius: 4px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.checkbox:hover input~.checkmark {
    background-color: #ccc;
}


.checkbox input:checked~.checkmark {
    background-color: #EA730E;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked~.checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    left: 13px;
    top: 8px;
    width: 10px;
    height: 15px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
    
.micromodal-slide {
    display: none;
}

.micromodal-slide.is-open {
    display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
    -webkit-animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
            animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
    -webkit-animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
            animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
    -webkit-animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
            animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
    -webkit-animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
            animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}
  
.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
    will-change: transform;
}

.table {
    width: 100%;
    text-align: left;
    border-spacing: 0;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 4px 5.7142vw;
}

.table th {
    font-weight: 700;
    background-color: #2E3A3B;
    font-size: 1.5rem;
    line-height: 2.333em;
    color: #fff;
}

.table td {
    font-size: 1.25rem;
    line-height: 2.8em;
    background-color: #fff;
}

.table tr:nth-child(2n) td {
    background-color: #EFEFEF;
}

.humburger {
    height: 25px;
    width: 25px;
    position: relative;
    margin-right: 21px;
    display: none;
}

.humburger .l1,.humburger .l2,.humburger .l3 {
    position: absolute;
    display: block;
    margin: auto;
    top: 48%;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transition: all .2s ease-out;
}

.humburger .l1 {
    top: 23%;
}

.humburger .l3 {
    top: 73%;
}

.humburger.active .l1 {
    transform: rotate(45deg);
    top: 48%;
}

.humburger.active .l2{
    opacity: 0;
}

.humburger.active .l3 {
    transform: rotate(-45deg);
    top: 48%;
}

.mobile-menu-backdrop {

}

.mobile-menu-wrapper {
    position: absolute;
    width: 100%;
    max-width: 230px;
    background-color: #2E3A3B;
    padding: 15px 16px 21px;
    bottom: 0;
    left: 0;
    transform: translateY(100%) translateX(-100%);
    visibility: hidden;
    z-index: 9999999;
    transition: all .4s ease;
    display: none;
}

.mobile-menu-wrapper.active {
    transform: translateY(100%) translateX(0);
    visibility: visible;
}

.mobile-menu .ac .ac-trigger {
    justify-content: flex-start;
    color: #fff;
    font-family: 'Circe', sans-serif;
}

.mobile-menu .ac .ac-trigger svg {
    margin-left: 13px;
}

.mobile-menu .ac-panel .ac-link {
    color: #fff;
    font-weight: 700;
    margin-left: 25px;
}

.mobile-menu .ac-panel .ac-link:not(:last-of-type) {
    margin-bottom: 10px;
}

.mobile-menu .ac-panel .ac-link:first-of-type {
    margin-top: 8px;
}

.mobile-menu__item:not(:last-of-type) {
    margin-bottom: 20px;
}

.mobile-menu .ac {
    margin-bottom: 12px;
}

.mobile-menu-link {
    color: #fff;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
}







@-webkit-keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@-webkit-keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@-webkit-keyframes mmslideIn {
  from { -webkit-transform: translateY(15%); transform: translateY(15%); }
    to { -webkit-transform: translateY(0); transform: translateY(0); }
}

@keyframes mmslideIn {
  from { -webkit-transform: translateY(15%); transform: translateY(15%); }
    to { -webkit-transform: translateY(0); transform: translateY(0); }
}

@-webkit-keyframes mmslideOut {
    from { -webkit-transform: translateY(0); transform: translateY(0); }
    to { -webkit-transform: translateY(-10%); transform: translateY(-10%); }
}

@keyframes mmslideOut {
    from { -webkit-transform: translateY(0); transform: translateY(0); }
    to { -webkit-transform: translateY(-10%); transform: translateY(-10%); }
}